/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transform";

$background-color: #F74512;
$text-color: #000000;
$light-green: #62FC8B;

html {
	height: 100%;
}
body {
	background: $background-color;
	font-family: "Times New Roman", Times, serif;
	color: $text-color;
}
h1, h2 {
	font-family: Helvetica, Arial, sans-serif;
}
h1 {
	//font-size: 2.4em;
}
h2 {
	//font-size: 1.2em;
	//font-weight: lighter;
}
em {
	font-style: italic;
}
a {
	color: $text-color;
	text-decoration: none;
}
.uppercase {
	text-transform: uppercase;
}
.sans-serif {
	font-family: Helvetica, Arial, sans-serif;
}
.mobile-only {
	display: none !important;
}
.underline {
	border-bottom: 1px solid;
}
.clear {
	clear: both;
}
#header {
	position: relative;
	font-size: 1.2em;
	padding: 20px 20px 5px;
	padding-left: 32vh;
	h2 {
		span {
			display: block;
		}
	}
	.year {
		position: absolute;
		right: 5vw;
		top: 20px;
		li {
			display: inline-block;
			margin-right: 20px;
		}
	}
}	

#intro {
	position: fixed;
	width: 100%;
	bottom: 0;
	//margin-bottom: 2vh;
	vertical-align: top;
	text-align: center;
	font-size: 3vh;
	z-index: 1;
	.info {
		position: absolute;
		background: white;
		padding: 20px;
		z-index: 9999;
		bottom: 12vh;
		left: 0%;
		margin-left: 60vh;
		font-size: 2vw;
		tr {
			td {
				padding-top: 20px;
				padding-left: 20px;
				vertical-align: top;
				&:nth-child(1) {
					padding-left: 0;
				}
			}
			&:nth-child(1) {
				td {
					padding-top: 0;
				}
				
			}
		}
	}
	.mobile-intro {
		display: none;
	}
	.intro {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// display: table;
		box-sizing: border-box;
		padding: 50px 0 7vh 12vh;
		z-index: 8;
		text-align: left;
		overflow: visible;
		white-space: nowrap;
		ul {
			height: 100%;
			li {
				display: inline-block;
				height: 100%;
				&.margin-right {
					margin-right: 9vh;
				}
			}
		}
		
		img {
			height: 100%;
			// &:nth-child(1) {
			// 	margin-right: 9vh;
			// }
			
		}
		.row {
			display: table;
			height: 100%;
		}
		.left-col, .right-col {
			display: table-cell;
			vertical-align: middle;
			// width: 50%;
			box-sizing: border-box;
			// padding: 20px;
			img {
				height: 100%;
			}
		}
		.left-col {
			background-color: pink;
			height: 100%;
			margin-right: 5vw;
			// text-align: right;
			// padding-left: 80px;
		}
		.right-col {
			background-color: orange;
			height: 100%;
			// text-align: left;
			// padding-right: 80px;
		}
	}
	>a {
		position: relative;
		text-decoration: none;
		color: $text-color;
		display: inline-block;
		padding: 1.5vh;
		&.title {
			border: solid 1px;
			z-index: 1;
		}
		&.tickets {
			z-index: 9;
			background-color: white;
			border: solid 1px white;

		}
	}
	.powered_by {
		margin: 1.5vh;
		font-size: 0.7em;
	}
}

#main {
	//height: 100%;

	h2 {

		// display: inline-block;
		// position: relative;
		// left: 50%;
		// margin: 20px;
		// @include translateX(-50%);
	}
	.heading {
		position: relative;
		font-size: 1.2em;
		padding-left: 32vh;		
		text-transform: uppercase;
	}
	.presenters {
		white-space: nowrap;
		font-size: 7vh;
		line-height: 110%;
		margin-left: 30px;
		li {
			position: relative;
		}
		a {
			margin: 10px 5px;
			//font-size: 4em;
			// font-style: italic; 
			color: $light-green;
			text-decoration: none;	
			&:hover, &.active {
				color: $text-color;
			}			
		}
		.oneliner {
			font-size: 0.7em;
			@extend .sans-serif;
			font-style: normal;
			font-weight: 100;
		    color: $background-color;
		    line-height: initial;
			text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;  
		}

		.content {
			display: none;
			position: absolute;
			z-index: 10;
			left: 30vh;
			font-size: initial;
			line-height: initial;
			width: calc(95% - 30vh);
			max-width: 800px;
			.content-inner {
				display: table;
			}
			.oneliner {
				display: none;
			}
			.profile-image {
				// position: absolute;
				display: table-cell;
				vertical-align: top;
				img {
					height: 38vh;
				}
			}
			.profile-text {
				white-space: normal;
				// width: 400px;
				// left: 200px;
				// position: absolute;
				display: table-cell;
				vertical-align: top;
				position: relative;
				a {
					font-style: normal;
					color: $text-color;
					text-decoration: underline;
					&:hover {
						
					}
				}
			}
			.close {
				display: table-cell;
				vertical-align: top;
			}
			&.align-bottom {
				bottom: 7vh;
				.profile-image {
					// bottom: 6vh;
				}
				.profile-text {
					// bottom: 6vh;
				}
			}
		}
	}
}
#back {
	display: none;
}
#footer {
	display: none;
}

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (max-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query